VITE_SUPABASE_PROJECT_URL =xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
VITE_SUPABASE_KEY =xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx


VITE_DEFAULT_THERAPY_EMAIL =xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

VITE_API_BASE_URL=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx