@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  letter-spacing: 0.08em;
}

.rsuite-picker {
  font-family: inherit !important; /* Inherits from the project's font */
}

body {
  box-sizing: border-box;
  font-family: "Young Serif";
}

.shadow-inset {
  box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.3);
}

.shadow-inset-2 {
  box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
}

.login-page-Decor {
  position: absolute;
  left: -13px;
  top: -66px;
  width: 559px;
  height: 406px;
  opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #ff9f1c;
}

/* p {
  color: #2ec4b6;
} */

/* scroll bar css */

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: lightgray;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #2ec4b6;
  border-radius: 14px;
  border: 2px solid #2ec4b6;
}

::-webkit-scrollbar-thumb:hover {
  background-color: orange;
  border: none;
}

.swiper-slide {
  height: auto !important;
}

/* Hide default navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  display: none !important;

}

.no-effect-tw {
  /* all: initial; */
  all: unset;
}

.rs-calendar-table-cell-selected .rs-calendar-table-cell-content {
  background-color: #fdf8ef !important; /* Background */
  color: #ff9f1c !important; /* Text color */
}

.custom-datepicker {
  color: #2ec4b6 !important;
}
